{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Alegreya Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>jaja's blog</title>
</head>
<body>
    <div class="image"></div>
    <div class="post-header col-sm-12">
        <a href="/logout" style="float:right; font-family: sans-serif; color: white; font-size: 20px">Sair</a>
        {% if request.user.is_staff %}
            <a href="/postnew" style="float:right; font-family: sans-serif; color: white; font-size: 20px; margin-right: 10px">Novo Post</a>
        {% endif %}
        <h1>
            <a href="/">Blog do Jajá</a>
        </h1>
        <h5 style="font-family: sans-serif; color: white;">{{ request.user }}</h5>
    </div>
    <div class="content col-sm-12">
        <div class="post">
            {% for post in posts %}
            <div class="post-list">
                <h1><a href="/post/{{ post.id }}">{{ post.titulo }}</a></h1>
                <div class="textoPost texto" align="justify"><h4>{{ post.texto|linebreaksbr }}</h4></div>
                <div class="dataPost date">
                    <h4>{{ post.autor}},&nbsp;{{ post.data_publicacao }}</h4>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>