{% load staticfiles %}
<html>
<head>
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css?family=Alegreya Sans&subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <title>jaja's blog</title>
</head>
<body>
    <div class="image"></div>
    <div class="post-header">
        <h1><a href="/">Blog do Jajá</a></h1>
    </div>
    <div class="content container-fluid">
        <h1>Novo Usuário</h1>
        <div class="col-sm-12">
            <form method="POST" class="form-row">
                <div class="form-group">
                    {% csrf_token %}
                    {{ form.as_p }}
                </div>
                <button type="submit" class="save btn btn-default">Salvar</button>
            </form>
        </div>
    </div>
</body>
</html>