h1 a {
    color: rgb(91, 137, 222);
    font-family: sans-serif;
}

.content h1 {
    font-family: sans-serif;
    color: rgb(91, 137, 222);
}

.post-header h1 a{
    color: white;
}
.post-header {
    background-color: rgb(91, 137, 222);
    margin-top: 0;
    padding: 10px 20px 10px 20px;
    text-align: center;
    margin-bottom: 20px;
}

.post h1 a {
    font-size: 23px;
}

.texto {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
}

.newpost {
    float: right;
    font-size: 25px;
    align-items: center;
}

.date {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
}

.comentario {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
}

label {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
}

input {
    color: rgb(80, 80, 80);
    font-family: sans-serif;
}

span {
    font-family: sans-serif;
    color: rgb(91, 137, 222);
}

li {
    font-family: sans-serif;
    color: rgb(91, 137, 222);
}

.post-list {
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 25px;
}

.post-list h1 {
    margin-top: 0px;
}

.comentario-list {
    background-color: whitesmoke;
    padding: 10px;
    margin-bottom: 10px;
}

.post-detail {
    background-color: whitesmoke;
    padding: 10px;
}

.post-detail h1 {
    margin-top: 0px;
}

h3 {
    color: rgb(91, 137, 222) !important;
}